__pycache__/
*.py[cod]
.pyc
backend-chatbot/data/flutter/index.faiss
backend-chatbot/data/flutter/index.pkl

research/model_cache
research/BGE_RAG.ipynb
research/CAG.ipynb
research/Embed.ipynb
research/data
research/del_dat
research/data1
research/saved_index
backend-chatbot/fast-env/
backend/grpc_server/grpc-env/


retrieval_service/retrieval_service.egg-info/
retrieval_service/test/data/
retrieval_service/test/logs/




backend/grpc_server/chat_service_pb2_grpc.py
backend/grpc_server/chat_service_pb2.py
